/*Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Utilities*/
.btn{
    background: aqua;
    border: 2px solid aquamarine;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

/*body-Section*/

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 2rem;
    gap: 5px;
    
}

/*navigation Starts*/

.navigation{
    background: wheat;
    border-radius: 5px;
    display: flex;
    align-items: center;

}

.navBar{
    flex: 1;
}

.navBar h1{
    display: flex;
    justify-content: center;
}

.navBar ul{
    list-style-type: none;
}

.navBar li {
    background: lightcoral;
    border-radius: 16px;
    margin: 26px;
    padding: 6px;
    display: flex;
    justify-content: center;
}

.navBar li:hover{
    background: #ff6347;
    transition: 1s ease-in-out;
}

.navBar li a{
    color: crimson;
    font-size: x-large;
}





/*main-Column starts*/

.mainColumn{
    background: wheat;
    border-radius: 5px;
}

/*Profile Starts*/

.Profile{
    background: wheat;
    border-radius: 5px;
}